@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>江凯</strong> 
</address>

<address>
    <strong title="手机">手机:</strong>
    15972858685<br />
</address>

<address>
    <strong title="QQ">QQ：</strong>718711841
</address>

<address>
    <strong>Email:</strong>   <a href="718711841@qq.com">718711841@qq.com</a><br />
</address>