<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body ng-app="CurrencyAPP" ng-controller="CurrencyController">
    <table width="100%" border="1">
        <tr>
            <th>姓名</th>
            <th>密码</th>
            <th>添加日期</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in List">
            <td ng-bind="item.LoginName"></td>
            <td ng-bind="item.Password"></td>
            <td ng-bind="item.RegTime"></td>
            <td>
                <a ng-click="Del(item._id)">删除</a>
            </td>
        </tr>
    </table>
    <br />
    <input type="button" ng-click="Add()" value="添加一条数据" />
</body>
</html>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/angular.js"></script>
<script type="text/javascript">

    var paraModel = function () {
        var self = this;
        self.TableName = "Student";
        self._id = "";
        self.data = "";
        self.OperationType = "001";
    }

    var app = angular.module('CurrencyAPP', []);

    app.controller('CurrencyController', ["$scope", "$http", function ($scope, $http) {
        $scope.List = [];
        getList();

        function getList() {
            var model = new paraModel();
            $http.post("http://192.168.0.105:85/API/Currency/Insurance", JSON.stringify(model)).success(function (dt) {
                console.log(dt);
                if (dt.status == "001")
                { $scope.List = dt.data; console.log($scope.List); }
            });
        }

        $scope.Add = function () {
            var model = new paraModel();
            model.OperationType = "002";
            model.data = { "id": "123456", "name": "111111","dt":"2016-09-27" };
            $http.post("http://192.168.0.105:85/API/Currency/Insurance", JSON.stringify(model)).success(function (dt) {
                console.log(dt);
                if (dt.status == "001")
                { alert(dt.msg); getList(); }
                else {
                    alert(dt.errmsg);
                }
            });
        }

    }]);




</script>
