<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!--<add key="MongoDBDataBaseName" value="MyDataBase"/>
    <add key="ConnectionString" value="mongodb://192.168.1.215:27017"/>-->
    <add key="FlieServiceURL" value="http://192.168.0.105:85"/>
    
    <add key="ConStringEncrypt" value="false"/>
    
    <add key="ConnectionString" value="server=bds25018398.my3w.com;database=bds25018398_db;uid=bds25018398;pwd=JIANGkai0612;"/>
    <add key="DAL" value="Maticsoft.SQLServerDAL"/>
    <!--<add key="webpages:Version" value="1.0.0.0"/>-->
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="RouteDebugger:Enabled" value="false"/>
    <add key="LocalTest" value="false" />
    <add key="RechargeTest" value="false"/>
    <add key="PaymentTest" value="false"/>
    <add key="UploadFolder" value="Upload"/>
    <add key="ffmpeg" value="/Tools/ffmpeg/ffmpeg.exe"/>
    <add key="FilePath_Android" value="/Download/MaticsoftShop.apk"/>
    <add key="CacheTime" value="30"/>
    <add key="Installer" value="true"/>
    <add key="API_Security" value="false"/>
    <add key="API_TimeInterval" value="20"/>
    <add key="API_Key" value=""/>


  </appSettings>
  <!--<rewriter configSource="UrlRewriter.config"/>-->
  <!--<dataConfiguration defaultDatabase="MaticsoftSqlServer"/>-->
  <connectionStrings>
    <add name="MaticsoftSqlServer" connectionString="server=bds25018398.my3w.com;database=bds25018398_db;uid=bds25018398;pwd=JIANGkai0612;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="30000000"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <!--使支持跨域请求   application/json-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {AF21C4CD-8BF0-4512-B43B-CEE6D4B82CFB}-->